table {
  border-collapse: collapse;
  margin-top: 20px;
}

table td,
table th {
  border: 1px solid #000000;
  padding: 10px;
}
table th {
  text-align: start;
  background-color: #0444aa;
  color: white;
}

table .checkbox,
table .actions {
  min-width: 50px;
  text-align: center;
}

table .description {
  min-width: 200px;
}

.button-edit,
.button-delete {
  margin: 0 5px 0 5px;
  padding: 5px;
  border: none;
  border-radius: 3px;
  color: #ffff;
}

.button-delete {
  background-color: red;
}

.button-edit {
  background-color: rgb(255, 200, 0);
}

@media only screen and (min-width: 375px) and (max-width: 481px) {
  table {
    width: 365px;
  }

  .button-edit,
  .button-delete {
    margin: 5px 0 5px 0;
    padding: 5px;
  }
}
